<section id="reservation">
	<header>
		<div>
			<h1>
				<svg aria-hidden="true" class="fa-regular fa-location-pin"></svg>
				<span>Reserveren</span>
			</h1>
			<p>Reserveer een parkeerplek door middel van de kaart of lijst</p>
		</div>
		<ul class="select-buttons">
			<li>
				<button data-view="map">
					<svg aria-hidden="true" class="fa-regular fa-map"></svg>
					<span>Kaart</span>
				</button>
			</li>
			<li>
				<button data-view="list">
					<svg aria-hidden="true" class="fa-regular fa-list"></svg>
					<span>Lijst</span>
				</button>
			</li>
		</ul>
	</header>
	<div id="router-outlet"></div>
</section>