#reservation > header {
	text-align: left;
	display: flex;
	justify-content: space-between;
}

#reservation > div {
	padding: 0;
}

.select-buttons {
	list-style: none;
	display: flex;
}

.select-buttons > li:first-child > button {
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
}
.select-buttons > li:last-child > button {
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
}

.select-buttons > li > button {
	background: var(--white);
	color: var(--primary-color);
}

.select-buttons > li > button[data-active="true"] {
	background: var(--primary-color);
	color: var(--white);
}