<section id="sign-in">
	<header>
		<h1>
			<svg aria-hidden="true" class="fa-light fa-right-to-bracket"></svg>
			<span>Aanmelden</span>
		</h1>
		<p>U kunt zich aanmelden door uw email en wachtwoord in de onderstaande velden in te vullen</p>
	</header>
	<div>
		<form action="" method="post">
			<fieldset>
				<label for="email">E-mail</label>
				<input type="email" name="email" id="email" required>
			</fieldset>

			<fieldset>
				<label for="password">Wachtwoord</label>
				<input type="password" name="password" id="password" required>
			</fieldset>

			<button type="submit">Aanmelden</button>

			<a href="/registreren" aria-label="Navigeer naar de registratie pagina om je te registreren">Geen account?</a>
		</form>

	</div>
</section>