@font-face {
	font-family: 'Rajdhani';
	src: url('assets/fonts/Rajdhani/Rajdhani-SemiBold.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Roboto';
	src: url('assets/fonts/Roboto/Roboto-Regular.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

:root {
	--bp-sm: 576px;
	--bp-md: 768px;
	--bp-lg: 992px;
	--bp-xl: 1200px;

	--heading-font: 'Rajdhani', Courier, monospace;
	--font-family: 'Roboto', san-serif;

	--primary-color: #5052c9;
	--secondary-color: #00ffec;
	--accent-color: #833ab4;
	--white: #fff;
	--black: #000;
	--gradient: linear-gradient(90deg, rgba(80,82,194,1) 0%, rgba(131,58,180,1) 100%);
}

*, *::before, *::after {
	box-sizing: border-box;
}

* {
	margin: 0;
	padding: 0;
}

img, picture, svg, video {
	display: block;
	max-width: 100%;
}

html,
body {
	height: 100%;
	font-family: var(--font-family);
	font-size: 18px;
}



body,
section {
	display: flex;
	flex-flow: column;
	height: 100%;
}

body {
	flex-direction: column-reverse;
}

body > nav {
	flex: 0 1 auto;
	font-family: var(--heading-font);
}

body > header,
body > footer
section > header,
section > footer {
	flex: 0 1 auto;
	padding: 1rem;
}

body > main,
section > div {
	flex: 1 1 auto;
	overflow: auto;
}

body > header {
	background: var(--primary-color);
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
	padding: 1rem;
	z-index: 1;
	display: flex;
	justify-content: space-between;
}

body > header > a {
	color: var(--white);
	text-decoration: none;
}

section > header {
	background: #FAFAFA;
	padding: 1rem;
	text-align: center;
}

section > div {
	background: #F7F7F7;
	padding: 1rem;
}

h1, h2, h3, h4, h5, h6 {
	font-family: var(--heading-font);
}

a *,
button * {
	pointer-events: none;
}

button,
a.button {
	border: 2px solid var(--primary-color);
	padding: .5rem .75rem;
	border-radius: 5px;
	font-size: 1rem;
	cursor: pointer;
	transition: all .2s ease-in-out;
	text-align: center;
	text-decoration: none;
}
button:hover,
a.button:hover {
	background: var(--white);
	color: var(--primary-color);
	border-color: var(--primary-color);
}
button:has(svg)
a.button:has(svg) {
	padding-inline: none;

	width: 2em;
	border-radius: 50%;
}

button,
button.primary,
a.button.primary {
	background: var(--primary-color);
	color: var(--white);
	border-color: var(--primary-color);
}
button:hover,
button.primary:hover,
a.button.primary:hover {
	background: var(--white);
	color: var(--primary-color);
	border-color: var(--primary-color);
}

button.secondary,
a.button.secondary {
	background: var(--white);
	color: var(--primary-color);
	border-color: var(--white);
}
button.secondary:hover,
a.button.secondary:hover {
	background: var(--primary-color);
	color: var(--white);
	border-color: var(--primary-color);
}

button[type=submit]:hover {
	background: var(--secondary-color);
	border-color: var(--secondary-color);
}

form {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

@media only screen and (min-width: 576px) {
  form {
		width: 320px;
		margin-inline: auto;
	}
}

form > fieldset {
	border: none;
	display: flex;
	flex-direction: column;
	gap: .5rem;
}

input {
	padding: .5rem .75rem;
	border: 2px solid var(--white);
	border-radius: 5px;
	transition: all .2s ease-in-out;
	font-size: 1rem;
}

input[data-touched=true]:invalid {
	background: #FBA5A5;
	border-color: #FF4040;
}
input[data-touched=true]:invalid::placeholder {
	color: #FF4040;
}

input::placeholder {
	color: #D7CBCB;
}

nav {
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
	background: var(--primary-color);
	display: flex;
	gap: 1rem;
	z-index: 1;
}

nav > a:has(> img) {
	display: none;
}

nav > ul {
	flex-grow: 1;
	list-style: none;
	display: flex;
	justify-content: space-between;
	flex-direction: row;
}

nav > ul > li {
	flex: 1;
}

nav > ul > li > a {
	text-decoration: none;
	color: white;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: .25rem;
	padding: .5rem .75rem;
	border-radius: 5px;
}

nav > ul > li:nth-child(1) {
	order: 2;
}
nav > ul > li:nth-child(2) {
	order: 1;
}
nav > ul > li:nth-child(3) {
	order: 3;
}

nav > ul > li > a[data-active=true] {
	color: #09102e;
}

@media screen and (min-width: 768px) {
	body {
		flex-direction: column;
	}

	nav {
		width: 100%;
		padding: 1rem;
	}

	nav > a:has(> img) {
		display: block;
	}

	nav > ul {
		justify-content: start;
	}

	nav > ul > li {
		flex: initial;
	}

	nav > ul > li:nth-child(1) {
		order: 1;
	}
	nav > ul > li:nth-child(2) {
		order: 2;
	}
	nav > ul > li:nth-child(3) {
		order: 3;
	}

	nav > ul > li:last-child {
		margin-left: auto;
	}

	nav > ul > li > a {
		flex-direction: row;
		gap: .5rem;
		transition: all .2s ease-in-out;
	}

	nav > ul > li > a:hover {
		color: #09102e;
	}

	nav > ul > li > a[href="/"] {
		order: 1;
	}

	section > header {
		text-align: left;
	}
}