<section id="account">
	<header>
		<h1>
			<svg aria-hidden="true" class="fa-light fa-user"></svg>
			<span>Account</span>
		</h1>
		<p>U kunt uw gegevens aanpassen.</p>
	</header>
	<div>
		<form>
			<fieldset>
				<label for="email">E-mail</label>
				<input type="email" name="email" id="email" placeholder=" " required>
			</fieldset>

			<fieldset>
				<label for="password">Wachtwoord</label>
				<input type="password" name="password" id="password" placeholder=" " required>
			</fieldset>

			<fieldset>
				<label for="name">Naam</label>
				<input type="text" name="name" id="name" placeholder=" " required>
			</fieldset>

			<fieldset>
				<label for="licenseplate">Kenteken</label>
				<input type="text" name="licenseplate" id="licenseplate" placeholder=" " required>
			</fieldset>

			<fieldset>
				<label for="iban">IBAN</label>
				<input type="text" name="iban" id="iban" placeholder=" " required>
			</fieldset>

			<button type="submit">Bijwerken</button>

			<a class="button secondary" href="/aanmelden">
				Afmelden
				<svg aria-hidden="true" class="fa-light fa-right-from-bracket"></svg>
			</a>
		</form>
	</div>
</section>