<section id="account">
	<header>
		<h1>Account</h1>
		<small>U kunt uw gegevens aanpassen.</small>
	</header>
	<div>
		<form action="" method="post">
			<fieldset>
				<label for="email">E-mail</label>
				<input type="email" name="email" id="email" placeholder="Uw e-mailadres" required>
			</fieldset>

			<fieldset>
				<label for="password">Wachtwoord</label>
				<input type="password" name="password" id="password" placeholder="Verzin een sterk wachtwoord" required>
			</fieldset>

			<fieldset>
				<label for="name">Naam</label>
				<input type="text" name="name" id="name" placeholder="Uw voor en achternaam" required>
			</fieldset>

			<fieldset>
				<label for="licenseplate">Kenteken</label>
				<input type="text" name="licenseplate" id="licenseplate" placeholder="Het kenteken van uw voertuig" required>
			</fieldset>

			<fieldset>
				<label for="iban">IBAN</label>
				<input type="text" name="iban" id="iban" placeholder="Uw rekeningnummer" required>
			</fieldset>

			<button type="submit">Bijwerken</button>
		</form>

	</div>
</section>