<section id="home">
	<header>
		<h1>
			<svg aria-hidden="true" class="fa-regular fa-home"></svg>
			<span>Thuis</span>
		</h1>
		<p>Welkom bij Coding the Curbs.</p>
	</header>
	<div>
		<ul>
			<li>
				<a href="/reserveren">
					<article>
						<header>
							<h2>
								<svg aria-hidden="true" class="fa-regular fa-location-pin"></svg>
								<span>Reserveren</span>
							</h2>
						</header>
						<div>
							<p>Ga naar reserveren om door middel van de kaart of lijst een plek te reserveren.</p>
						</div>
						<footer>
							<span>Naar reserveren</span>
							<svg aria-hidden="true" class="fa-regular fa-arrow-right"></svg>
						</footer>
					</article>
				</a>
			</li>
			<li>
				<a href="/account">
					<article>
						<header>
							<h2>
								<svg aria-hidden="true" class="fa-regular fa-user"></svg>
								<span>Account</span>
							</h2>
						</header>
						<div>
							<p>Ga naar account om uw gegevens aan te passen en om u af te kunnen melden.</p>
						</div>
						<footer>
							<span>Naar account</span>
							<svg aria-hidden="true" class="fa-regular fa-arrow-right"></svg>
						</footer>
					</article>
				</a>
			</li>
		</ul>
	</div>
</section>