<section id="home">
	<header>
		<h1>Thuis</h1>
		<small>Welkom Coding the Curbs. Maak kennis met onze applicatie.</small>
	</header>
	<div>
		<ul>
			<li>
				<a href="/reserveren">
					<article>
						<header>
							<h2>Reserveren</h2>
						</header>
						<div>
							<p>Ga naar reserveren om met behulp van de lijst of kaart een parkeerplek te reserveren.</p>
						</div>
						<footer>
							<span>Naar reserveren</span>
							<svg class="fa-light fa-arrow-right"></svg>
						</footer>
					</article>
				</a>
			</li>
		</ul>
	</div>
</section>